*.simv
*.lxt2
*.out 
*.lxt 
*.vcd 
*.lxt2 
*.xmsgs 
*.bgn 
*.bit 
*.bld 
*.cmd_log 
*.drc 
*.lso
*.ncd 
*.ngc 
*.ngd 
*.ngr 
*.pad 
*.par 
*.pcf 
*.prj 
*.ptwx
*.spl 
*.stx 
*.syr 
*.twr 
*.twx 
*.unroutes 
*.ut
*.xpi 
*.xst 
*.html 
*.map 
*.mrp 
*.ncd 
*.ngm 
*.xrpt 
*.xrpt
*.csv 
*.txt 
*.xrpt 
*.html 
*.xml 
*.xrpt 
webtalk*
*_ngo 
xlnx_auto* 
planAhead_run_*
